@import url("prismjs/themes/prism.min.css");
@import url("prismjs/plugins/line-numbers/prism-line-numbers.min.css");
@import url("prismjs/plugins/command-line/prism-command-line.min.css");
@import url("prismjs/plugins/inline-color/prism-inline-color.min.css");

@import url("tabs.css");
.remark-highlight {
  font-size: 1rem !important;
  font-family: "Courier New" !important;
}

.line-numbers .line-numbers-rows {
    line-height: 1.85 !important;
}

blockquote {
  border-left: 4px solid #1e3a8a;
  margin: 1.5em 0;
  padding: 0.5em 1em;
  background-color: #f5f5f5;
  color: #212121;
  font-style: italic;
}